{% extends 'quotes/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>Welcome to the Famous Quotes!</h2>
    <h2>About Steve Jobs</h2>
    <p>
        Steve Jobs was a co-founder of Apple Inc., a visionary leader, and a pioneer in the personal computer revolution. His innovative work with Apple products like the iPhone, iPad, and MacBook has left a lasting legacy on technology and design.
    </p>
    
    <p>
        For more information about Steve Jobs, you can visit his 
        <a href="https://en.wikipedia.org/wiki/Steve_Jobs" target="_blank">Wikipedia page</a>.
    </p>
    
    <p>
        To explore more about Apple's products and innovations, visit the 
        <a href="https://www.apple.com/" target="_blank">Apple official website</a>.
    </p>

    <p>Created by Jiaqing Xu.</p>
{% endblock %}
